<h1>Viewing movie details</h1>
<p><%= link_to "Back to movie list", movies_path %> |
  <%= link_to "Edit movie", edit_movie_path %>
</p>
<hr>
<p><strong>Movie title: </strong><%= @movie["title"] %></p>
<p><strong>Release Date: </strong><%= @movie["release_date"] %></p>
<p><strong>Genre: </strong><%= @movie["genres"][0]["name"] %></p>
