

<div class="row align-items-center justify-content-center" ">
<div class="col-6 black-bg">
  <h1><%= @customer.name %>'s Profile Page</h1>

  <hr>
<p><strong>E-mail: </strong><%= @customer.username %></p>

<% if @current_customer.id == @customer.id %>

  <p><strong>Rented Movies</strong></p>
  <ul>
    <% @customer.rentals.each do |rental| %>
      <li>
        <%= link_to "#{rental.movie.title}", rental_path(rental.id) %>
      </li>
    <% end %>
  </ul>

    <%= link_to "Edit Profile", edit_customer_path, class: "btn btn-danger float-right button-margin" %>
    <%= link_to "Delete Account", customer_path, class: "btn btn-danger float-right button-margin", method: :delete %>
  <%= link_to "Rent a Movie", movies_path, class: "btn btn-danger float-right button-margin" %>

<% else %>

  <p><strong>Rented Movies</strong></p>
  <ul>
    <% @customer.rentals.each do |rental| %>
      <li>
        <%= link_to "#{rental.movie.title}", rental_path(rental.id) %>
      </li>
    <% end %>
  </ul>

<% end %>
</div>
</div>