<h1><%= @customer.name %>'s Profile Page</h1>
<p><%= link_to "Go back", customers_path %></p>
<hr>

Email: <%= @customer.email %><br>
<%= link_to "Edit", edit_customer_path %>
<%= link_to "Delete", customer_path, :method => :delete %>
