<h1>Editing Rental</h1>

<div class="row align-items-center justify-content-center" ">
<div class="col-5 black-bg">
<%= form_for @rental do |f| %>
  <p>
    Renter: <%= @current_customer.name %>
    <%= f.hidden_field :customer_id, value: @current_customer.id %>
  </p>

  <p>
    Movie: <%= @rental.movie.title %>
    <%= f.hidden_field :movie_id, value: @rental.movie.id %>
  </p>

  <p>
    <%= f.label :rental_length, "Rental Duration: " %>
    <%= f.number_field(:rental_length, in: 1..7) %> days
  </p>

    <%= f.submit "Edit Rental!", class: "btn btn-danger float-right button-margin" %>
    <%= link_to "Go Back", rental_path, class: "btn btn-danger float-right button-margin" %>
<% end %>
</div>
</div>