
<div class="row align-items-center justify-content-center" ">
<div class="col-7 black-bg">
<h1>List of All Rentals</h1>

<hr>

<ul>
  <% @rentals.each do |rental| %>
    <li> <a href="customers/<%= rental.customer_id %>"><%= rental.customer.name %></a> rented <a href="movies/<%= rental.movie_id %>"><%= rental.movie.title %></a> for <%= rental.rental_length %> days.</li>
  <% end %>
</ul>

  <p>
    <%= link_to "Rent a Movie", movies_path, class: "btn btn-danger float-right" %>
  </p>
</div>
</div>