<!DOCTYPE html>
<html>
  <head>
    <title>VHSClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--  <div class="top-container">-->
    <div class="container">
    <navbar class="navbar navbar-dark fs-dark">
      <% if @logged_in %>
        <p>User: <span class="user"><%= @current_customer.name %></span>
        <%= link_to "Profile Page", customer_path(@current_customer) %>  |
        <%= link_to "All Customers", customers_path %>  |
        <%= link_to "All Movies", movies_path %>  |
        <%= link_to "All Rentals", rentals_path %>  |
        <%= link_to "Logout", "/logout", method: :delete %></p>
      <% else %>
        <p><%= link_to "Login", new_login_path %> |
        <%= link_to "Register", new_customer_path %></p>
      <% end %>

      <% if flash[:message] %>
        <p class="message">
          <%= flash[:message] %>
        </p>
      <% end %>
    </navbar>
    </div>
    <div class="container">


    <div class="container">

      <%= yield %>
    </div>
    </div>
<!--  </div>-->
  </body>
</html>
